@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap');


.first{
    border-bottom: 10px solid blue;
}

header{
    position:fixed;
    top:0; left :0; right:0;
    padding:0px 7%;
    align-items:center;
    z-index: 1000;
    display: flex;
    

}

header .buttons{
    height: 4px;
    display: inline-block;
    margin-left: 850px;
    
}

.navigation ul{
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    float: left;
}

.navigation ul li a{
    display: block;
    padding:8px;
    margin-top: 90px;
    margin-left: 70px;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    color:#2a95c3;
    font-size: 18px;
}

#indice {
    margin-top: 18px;
    height: 52px;
    width: 176px;
}

input {
    display: flex;
    justify-content: space-between;
}

.btn-enviar {
    padding-left: 140px
}

.informacion {
    display: flex;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
}

.custos_direccion {
    padding-right: 50px
}

.newsletter {
    padding-right: 40px;

}

.newsletter h1 {
    font-family: 'Open Sans', sans-serif;
}

.noticias h1 {
    font-family: 'Open Sans', sans-serif;
}

.noticias p a {
    font-size: 15px;
    text-decoration: none;
    color: black;

}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer ul li {
    justify-content: space-around;
    padding-left: 8px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    
}