@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap");

* {
  font-family: "Public Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

.buttons {
  padding: 10px;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.first {
  border-bottom: 10px solid blue;
}

.clients-area .buttons {
  margin-right: 90px;
  margin-top: 25px;
}

.buttons .area {
  align-content: center;
  height: 45px;
  width: 167px;
  margin-bottom: 30px;
  border-radius: 9px;
  border: 1px solid rgb(211, 208, 208);
  background-color: rgb(211, 208, 208);
  font-size: 17px;
}

.buttons #flags {
  border: 1px solid #fff;
}

#logo {
  padding: 0, 40px;
  height: 72px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.area:hover {
  background-color: #2a95c3;
}

.navigation ul {
  list-style-type: none;
}

.navigation li a {
  text-decoration: none;
}

.navigation ul {
  flex-direction: column;
  display: flex;
  align-items: center;

  margin-top: 60px;
  color: #2a95c3;
  font-size: 18px;
}

input {
  display: flex;
  justify-content: space-between;
}

.btn-enviar {
  padding-left: 140px;
}

.informacion {
  display: flex;
  margin-left: 150px;
  font-family: "Public Sans", sans-serif;
}

.custos_direccion {
  padding-right: 50px;
}

.newsletter {
  padding-right: 40px;
}

.newsletter h1 {
  font-family: "Public Sans", sans-serif;
}

.noticias h1 {
  font-family: "Public Sans", sans-serif;
}

.noticias p a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

footer a {
  text-decoration: none;
}

footer ul li {
  justify-content: space-around;
  padding-left: 8px;
}

/*
* {
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none
}

.first {
    border-bottom: 10px solid blue;
}

.clients-area .buttons {
    float: right;
    margin-right: 90px;
    margin-top: 25px
}


.buttons .area {
    height: 45px;
    width: 167px;
    margin-bottom: 30px;
    border-radius: 9px;
    border: 1px solid rgb(211, 208, 208);
    background-color: rgb(211, 208, 208);
    font-size: 17px
}

.buttons #flags {
    border: 1px solid #fff
}

.clients-area #logo {
    margin-top: 18px;
    height: 52px;
    width: 176px;
    margin: 0px;
}

.area:hover {
    background-color: #2a95c3;
}


.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    float: left;
}

.navigation ul li a {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 60px;
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    color: #2a95c3;
    font-size: 18px;
}



input {
    display: flex;
    justify-content: space-between;
}

.btn-enviar {
    padding-left: 140px
}

.informacion {
    display: flex;
    margin-left: 150px;
    font-family: 'Public Sans', sans-serif;
}

.custos_direccion {
    padding-right: 50px
}

.newsletter {
    padding-right: 40px;

}

.newsletter h1 {
    font-family: 'Public Sans', sans-serif;
}

.noticias h1 {
    font-family: 'Public Sans', sans-serif;
}

.noticias p a {
    font-size: 15px;
    text-decoration: none;
    color: black;

}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

footer ul li {
    justify-content: space-around;
    padding-left: 8px;
}
*/
